            </div><!-- end #content -->
            <div id="sidebar">
              <ul>
                <li>
                  <h2>About</h2>
                  <p>
                    MWorks is a suite of applications and libraries
                    for designing and running realtime experiments,
                    particularly in the domains of psychology and
                    neurophysiology.
                  </p>
                </li>
                <li>
                  <h2>Downloads</h2>
                  <ul>
                    <li><a href="/downloads/">Releases</a></li>
                    <li><a href="http://dicarlo-mwdev.mit.edu/mw/MWorks-NIGHTLY.dmg">Nightly Build</a> (bleeding edge)</li>
                  </ul>
                </li>
                <li>
                  <h2>Support</h2>
                  <ul>
                    <li><a href="http://help.mworks-project.org/discussion/new">Report Issues / Ask Questions</a></li>
                    <li><a href="http://help.mworks-project.org/discussions">Browse Discussions</a></li>
                  </ul>
                </li>
                <li>
                  <h2>Documentation</h2>
                  <ul>
                    <li><a href="http://help.mworks-project.org/kb">FAQ / Knowledge Base</a></li>
                    <li><a href="/documentation/screencasts">Screencasts</a></li>
                    <li><a href="https://wikis.mit.edu/confluence/display/MWorks/Home">Old Documentation</a> (not up to date)</li>
                  </ul>
                </li>
                <li>
                  <h2>Latest News</h2>
                  <ul>
                    {% for post in site.posts limit:5 %} 
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div><!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
          </div>
        </div>
      </div><!-- end #page -->
    </div>
    <div id="footer">
      <p>Copyright (c) 2013 <a href="/">The MWorks Project</a>. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>.</p>
    </div><!-- end #footer -->
  </body>
</html>
