<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" charset="utf-8">
    <link rel="alternate" title="The MWorks Project" type="application/atom+xml" href="/atom.xml" />
    <title>{{ page.title }}</title>
  </head>
  <body id="intro">
    <div id="wrapper">
      <div id="header">
        <h1><a href="/">The MWorks Project</a></h1>
	<img src="/img/monkeys.png" alt="The MWorks Monkeys" width="150" height="69" align="right" />
      </div>
      <div id="navigation">
        <ul>
          <li>
            <a href="http://github.com/mworks-project/mw_suite/downloads">Downloads</a>
          </li>
          <li>
            <a href="http://help.mworks-project.org/">Support</a>
          </li>
          <li>
            <a href="http://mworks.lighthouseapp.com/tickets?q=state%3Anew+state%3Aopen&filter=">Issue Tracking</a>
          </li>
          <li>
            <a href="http://github.com/mworks-project">Source</a>
          </li>
	  <li style="float:right">
	    <a href="/atom.xml"><img src="/img/feed.png" alt="Atom Feed" width="12" height="12" /></a>
	  </li>
        </ul>
      </div>
      <div id="page_body">
        <div id="content">
