{% include header.html %}

              <div class="post">
                <h2 class="title">{{ page.title }}</h2>
                <p class="meta">
                  <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
                  {% for author in site.authors %}
                  {% if author.id == page.author %}
                  <span class="posted">Posted by <a href="{{ author.url }}">{{ author.fullname }}</a></span>
                  {% endif %}
                  {% endfor %}
                </p>
                <div style="clear: both;">&nbsp;</div>
                <div class="entry">
                  {{ content }}
                  <p class="links">
                    {% if page.next %}<a href="{{ page.next.url }}">&laquo;&nbsp;Newer</a>{% endif %}{% if page.next and page.previous %}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{% if page.previous %}<a href="{{ page.previous.url }}">Older&nbsp;&raquo;</a>{% endif %}
                  </p>
                </div>
              </div>

{% include footer.html %}
